<%- include("partials/header") %>

    <div class="content ">
        <div class="text">
            Incorrect Code
        </div>
        <img src="/warning.png" alt="">



        <form action="/">
            <button type="submit">Try Again</button>
        </form>

        <div class="sign-up">
            Buit with ❤ | Data by
            <a href="#">Razorpay API</a>
        </div>



    </div>

    <%- include("partials/footer") %>