<%- include("partials/header") %>

    <div class="content">
        <div class="text">
            IFSC LOOKUP</div>
        <form action="/" method="POST">
            <div class="field">
                <input type="text" required placeholder="XXXX0YYYYYY" name="lookupCode">

            </div>
            <button type="submit">Search</button>
            <div class="sign-up">
                Buit with ❤ | Data by
                <a href="#">Razorpay API</a>
            </div>
        </form>
    </div>

    <%- include("partials/footer") %>